/*
@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }
}*/

html, body{
    background-color: #333647;
    overflow-x: hidden;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: #808080;
    text-decoration: none;
    font-size: 24px;
}

nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.profile-section {
    display: flex;
    flex-wrap: wrap;
}

.name-image-section {
    position: relative;
    width: 50%;
}

#my-name {
    position: absolute;
    z-index: 2;
    color: #fec160;
    font-size: 64px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 20%;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#my-name.in-focus {
    opacity: 1;
    transform: translateX(10%);
}

#my-img {
    position: relative;
    height: auto;
    min-width: 300px;
    max-width: 350px;
    width: 60%;
    margin-left:50%;
    border-radius: 70%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    mix-blend-mode: luminosity;
}
#my-img.in-focus {
    opacity: 1;
    transform: translateY(-5%);
}

.title-slogan-section {
    color: white;
    z-index: 1;
}

#title {
    position: relative;
    color: #fec160;
    font-size: 48px;
    z-index: 2;
    margin-top: 10%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(15%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#title.in-focus {
    opacity: 1;
    transform: translateX(10%);
}

#slogan {
    position: relative;
    font-size: 20px;
    z-index: 2;
    margin-top: 10%;
    transform: translateX(20%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#slogan.in-focus {
    opacity: 1;
    transform: translateX(15%);
}

.section-title {
    color: white;
}

.about-me-container {
    background-color: #252734;
    width: MediaQuery.of(context).size.width;
    padding-top: 20px;
    padding-bottom:20px;
}

.about-me {
    width: 75%;
    margin: 0 auto;
    color: white;
}

#about-me-content {
    font-size: 16px;
}

.skills-container {
    width: 74%;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 5%;
    padding: 20px;
    color: white;
    display: inline-block;
    background: linear-gradient(to bottom, #fec160, #cc6600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill-grid {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.category {
    border: 2px solid orange;
    padding: 20px;
    width: 120px;
}

.skill {
    margin: 20px;
}

.skill-grid i {
    display: flex;
    color: #ffcc00;
    font-size: 36px;
}

.skill-name {
    font-size: 12px;
}

.section-title-container {
    background-color: #252734;
    width: 110%;
    transform: translateX(-5%);
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

.projects-container {
    background-color: #252734;
    width: MediaQuery.of(context).size.width;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;

}

.project-description-container{
    width:45%;
    min-width: 300px;
}

.project-description-container p {
    text-indent: 20px;
    text-align: left;
    font-size: 16px;
}

.project-image-container {
    width: 45%;
    min-width: 300px;
    margin: 40px;
}

.project-image-container img {
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.project-name {
    text-align: center;
    font-size: 24px;
}

/* Media query for mobile view */
@media (max-width: 1070px) {
    .projects-grid {
        flex-direction: column;
        align-items: center;
    }
    .project-image-container {
        order: 2; /* Move image below description in mobile view */
        margin: 20px 0;
    }
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    color: white;
    margin: 0 auto;
    padding: 40px;
    justify-content: space-evenly;
}


.contact-container ul {
    list-style: none;
}

.contact-container li {
    font-size: 18px;
    margin-bottom: 5px;
}

.send-mssg-container {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#send-bttn {
    display: inline-block;
    width: 100px;
    align-self: flex-end;
}

.input-row label {
    margin-right: 10px;
}

.input-row input[type="text"],
textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    resize: vertical;
}

footer {
    background-color: #252734;
    width: 120%;
    transform: translateX(-10%);
    color: white;
    text-align: center;
    padding: 20px;
}

#notification {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: none;
}

#message {
    z-index: 0;
}

#notification.show-success {
    display: flex; /* Show the div when needed */
    color: green;
}

#notification.show-fail {
    display: flex; /* Show the div when needed */
    color: red;
}




