body {
    background-color: #EBEBEB6;
}

main {
    max-width: 75%;
    margin: 0 auto;
}
#about_me {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#description {
    grid-column: 2/4;
    text-indent: 2em;
    text-align: justify;
}

#pic{
    width: 80%;
    height: auto;
}




