body{
    background-color: #333333;
    overflow-x: hidden;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personal-info {
    position: relative;
    width: 100%;
}

#my-name {
    position:absolute;
    color: #ffe066;
    font-size: 5vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10%;
    margin-left: 20%;
    transform: translate(10%, 0%);
    z-index: 2;
}

#my-img {
    position: absolute;
    height: auto;
    width: 50%;
    margin-left:50%;
    margin-top: 6%;
    border-radius: 70%;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25%;
}

nav li {
    display: inline;
    margin-right: 20px; /* Adjust this value as needed for spacing */
}

nav a {
    color: #808080;
    text-decoration: none;
    font-size: 2vw;
}

nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.about-me-info p {
    margin-top: 10%;
    margin-left: 15%;
    color: white;
}

#title {
    color: #ffe066;
    font-size: 3vw;
    transform: translateX(-5%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#slogan {
    font-size: 1.5vw;
}

.about-me-container {
    background-color: #0d0d0d;
    width: 110%;
    margin-top: 5%;
    transform: translateX(-5%);
}

.about-me {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    color: white;
}

#about-me-title{
    font-size: 2vw;
}

#about-me-content {
    font-size: 1.2vw;
}
